<!-- <h3 *ngIf="products; else noProduct">{{title}}</h3> -->
<!--*ngIf eğer product varsa anlamına gelir(null kontrol). else ise ng-template i göster. -->


<app-category></app-category>
<form>  <!-- Bu form yukarıdaki searchbox için koyduk -->              
    <div class="mb-3">
        <input class="form-control"
         id="productName" 
         placeholder="Search"
         [(ngModel)]="filterText" name="filter"  
         >
        <div id="emailHelp" class="form-text" *ngIf="filterText;">Searching for "{{filterText}}"</div>
    </div>
</form>


<div class="row">

    <ng-template #noProduct>
        <div class="alert alert-warning" role="alert">
            No product for this category!
        </div>
    </ng-template>

    <div *ngFor="let product of products | productFilter:filterText" class="productbox"  style="width: 18rem">
        <!--*ngFor angular döngü yapısı -->
        <img src="{{product.imageUrl}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{product.name}} {{product.price | currency : 'USD' :true: "1.2-2"}}</h5>
            <!-- product.price | currency : 'USD' : "1.2-2"  bu bir pipe'tır.-->
            <p class="card-text">{{product.description}}</p>
            <a (click)="addToCart(product)" href="#" class="btn btn-primary">Add to Cart</a>
        </div>
    </div>

</div>